In [1]:
import pandas as pd

## CSV file

In [3]:
a_file = open("2006_-_2012__Math_Test_Results_-_District_-_All_Students.csv")
n = 5
for i in range(n):
    line = a_file.readline()
    print(line)
a_file.close()

District,Grade,Year,Demographic,Number Tested,Mean Scale Score,Num Level 1,Pct Level 1,Num Level 2,Pct Level 2,Num Level 3,Pct Level 3,Num Level 4,Pct Level 4,Num Level 3 and 4,Pct Level 3 and 4

1,3,2006,All Students,936,673,73,7.8,170,18.2,484,51.7,209,22.3,693,74

1,3,2007,All Students,836,679,48,5.7,86,10.3,511,61.1,191,22.8,702,84

1,3,2008,All Students,862,686,17,2,94,10.9,537,62.3,214,24.8,751,87.1

1,3,2009,All Students,914,691,8,0.9,66,7.2,598,65.4,242,26.5,840,91.9

In [4]:
file_link = 'https://data.cityofnewyork.us/api/views/7yig-nj52/rows.csv'
data_csv = pd.read_csv(file_link)

In [5]:
data_csv.head()

,District,Grade,Year,Demographic,Number Tested,Mean Scale Score,Num Level 1,Pct Level 1,Num Level 2,Pct Level 2,Num Level 3,Pct Level 3,Num Level 4,Pct Level 4,Num Level 3 and 4,Pct Level 3 and 4
0,1,3,2006,All Students,936,673,73,7.8,170,18.2,484,51.7,209,22.3,693,74.0
1,1,3,2007,All Students,836,679,48,5.7,86,10.3,511,61.1,191,22.8,702,84.0
2,1,3,2008,All Students,862,686,17,2.0,94,10.9,537,62.3,214,24.8,751,87.1
3,1,3,2009,All Students,914,691,8,0.9,66,7.2,598,65.4,242,26.5,840,91.9
4,1,3,2010,All Students,866,697,89,10.3,257,29.7,279,32.2,241,27.8,520,60.0

## XML

Todo: Download the xml file again with the indents

In [6]:
def print_lines(n, file_name):
    f = open(file_name)
    for i in range(n):
        print(f.readline())
    f.close()

In [8]:
print_lines(15, 'math results.xml')
# a_file = open("data/math results.xml")
# n = 5
# for i in range(n):
#     line = a_file.readline()
#     print(line)
# a_file.close()

# f = open('data/math results.xml')
# for i in range(n):
#     print(f.readline())
# f.close()

<response>

	<row>

		<row _id="row-u2j9_kxsi-fjvp" _uuid="00000000-0000-0000-56DB-875C31626566" _position="0" _address="https://data.cityofnewyork.us/resource/_7yig-nj52/row-u2j9_kxsi-fjvp">

			<district>1</district>

			<grade>3</grade>

			<year>2006</year>

			<demographic>All Students</demographic>

			<number_tested>936</number_tested>

			<mean_scale_score>673</mean_scale_score>

			<num_level_1>73</num_level_1>

			<pct_level_1>7.8</pct_level_1>

			<num_level_2>170</num_level_2>

			<pct_level_2>18.2</pct_level_2>

			<num_level_3>484</num_level_3>

			<pct_level_3>51.7</pct_level_3>